<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.3.1" />
  <package id="Ext.NET" version="1.3.0" />
  <package id="Ext.NET.Utilities" version="1.3.0" />
  <package id="iTextSharp" version="5.2.0" />
  <package id="Newtonsoft.Json" version="4.5.3" />
  <package id="recaptcha" version="1.0.5.0" />
</packages>