<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--ÖZEL AYARLAR TANIMLAMA-->
    <section name="OzelAyarlar" type="Moduller.OzelAyar" />
    <!--ÖZEL AYARLAR TANIMLAMA-->
    <section name="extnet" requirePermission="false" type="Ext.Net.GlobalConfig" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <!--ÖZEL AYARLAR-->
  <OzelAyarlar>
    <Ayar>
      <add Ad="HataModu" Deger="false" />
      <add Ad="RootYonlendir" Deger="true" />
      <add Ad="URL" Deger="serasmac" />
    </Ayar>
  </OzelAyarlar>
  <!--ÖZEL AYARLAR-->
  <extnet scriptMode="Release" theme="Default" />
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <!--ÖZEL MODÜLLER-->
      <add name="Modul1" type="Moduller.GuvenliCookie" />
      <add name="Modul2" type="Moduller.DomainYonlendir" />
      <add name="Modul3" type="Moduller.WhiteSpaceKaldir" />
      <add name="Modul4" type="Moduller.RootYonlendir" />
      <!--ÖZEL MODÜLLER-->
    </modules>
    <handlers>
      <add name="DirectRequestHandler" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" verb="*" />
    </handlers>
    <!--STATİK İÇERİK CACHE-->
    <staticContent>
      <clientCache cacheControlMaxAge="10.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <!--STATİK İÇERİK CACHE-->
  </system.webServer>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <trust level="Full" />
    <sessionState timeout="1444" />
    <globalization culture="tr-TR" uiCulture="tr-TR" />
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <httpHandlers>
      <add path="*/ext.axd" type="Ext.Net.ResourceHandler" validate="false" verb="*" />
    </httpHandlers>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <!--<buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>-->
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="3.5">
      <!--BORDERSIZ RESİM-->
      <tagMapping>
        <add mappedTagType="Moduller.BordersizResim" tagType="System.Web.UI.WebControls.Image" />
      </tagMapping>
      <!--BORDERSIZ RESİM-->
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <remove name="LocalMySqlServer" />
    <add name="BaglantiCumlesi" connectionString="metadata=res://*/App_Code.MySQLModel.csdl|res://*/App_Code.MySQLModel.ssdl|res://*/App_Code.MySQLModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=vitrin2;password=12131213&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>